page-salon-gallery {
.salon-content{
	background: #222;
}
.item-md.item-input.input-has-focus .item-inner {
  border-bottom-color: transparent!important;
  box-shadow: none !important;
}
.list-md .item-input.input-has-focus:last-child {
  border-bottom-color: transparent!important;
  box-shadow: none !important;
}
.toolbar-background {
    background: #2B2B2B;
}
.toolbar-title-md {
    background: #2b2b2b none repeat scroll 0 0;
    color: #fff;
    font-size: 2rem;
    font-weight: 500;
       font-family: 'OpenSans-Regular';
    padding: 0 50px;
}

.ion-ios-arrow-back::before {
  color: #fff;
  content: "";
  padding-left: 4px;
}
.back-button-text-ios {
    color: #2b2b2b;
    letter-spacing: -0.01em;
}

.toolbar-title-ios {
    color: #fff;
    font-size: 1.7rem;
    font-weight: 500;
    pointer-events: auto;
       font-family: 'OpenSans-Regular';
    text-align: center;
}
.ion-md-arrow-back::before {
    color: #fff;
    content: "";
}
.pull-left {
    float: left !important;
    padding-top: 12px;
    width: 48%;
           object-fit: cover;
}
.pull-right {
    float: right !important;
    width: 48%;
      padding-top: 12px;
             object-fit: cover;
}
.full {
    float: left;
    width: 100%;
}
.full-div{
	width: 100%;
	float: left;
       object-fit: cover;
}
.full-div-extra {
    padding-bottom: 12px;
    padding-top: 0;
}
.full-div-bottom{
	width: 100%;
	float: left;
	   padding-top: 12px;
     padding-bottom: 12px;
            object-fit: cover;
}
 ion-footer {
  background: #c72228 none repeat scroll 0 0;
  bottom: 0;
  display: block;
  text-transform: capitalize;
  height: 6%;
  left: 0;
  margin: 0;
  padding: 0;
  position: absolute;
  width: 100%;
  z-index: 10;
}
img {
    height: 170px;
    vertical-align: middle;
    width: 100%;
     object-fit: cover;
}
}
.action-sheet-ios .action-sheet-container {
    padding: 0 10px;
}
.action-sheet-ios .action-sheet-group {
    background: #f9f9f9 none repeat scroll 0 0;
    border-radius: 13px;
    margin-bottom: 8px;
    overflow: hidden;
}
.action-sheet-ios {
    text-align: center;
}
.action-sheet-ios .action-sheet-group:last-child {
    margin-bottom: 10px;
}
.action-sheet-ios .action-sheet-group {
    background: #f9f9f9 none repeat scroll 0 0;
    border-radius: 13px;
    margin-bottom: 8px;
    overflow: hidden;
}

.action-sheet-ios .action-sheet-button {
    background: transparent none repeat scroll 0 0;
    border-bottom: 0.55px solid #d6d6da;
    color: #007aff;
    font-size: 2rem;
    margin: 0;
    min-height: 5.6rem;
    padding: 18px;
}
.action-sheet-ios .action-sheet-title {
    border-bottom: 0.55px solid #d6d6da;
    border-radius: 0;
    color: #000;
    font-size: 1.3rem;
    font-weight: 400;
    padding: 1.5rem;
     font-size: 20px;
    text-align: center;
}
.action-sheet-md .action-sheet-container {
    padding: 0 10px;
}
.action-sheet-md .action-sheet-group {
    background: #f9f9f9 none repeat scroll 0 0;
    border-radius: 13px;
    margin-bottom: 8px;
    overflow: hidden;
}
.action-sheet-md .action-sheet-button {
    background: transparent none repeat scroll 0 0;
    border-bottom: 0.55px solid #d6d6da;
    color: #007aff;
    font-size: 2rem;
    margin: 0;
    min-height: 5.6rem;
    padding: 18px;
}
.action-sheet-md .action-sheet-title {
    border-bottom: 0.55px solid #d6d6da;
    border-radius: 0;
    color: #000;
    font-size: 1.3rem;
    font-weight: 400;
    padding: 1.5rem;
    font-size: 20px;

}