
page-user-barber-profile {
  
  .div-btn-book {
    float: right;
    padding-right: 15px;
    width: 48%;
}
.div-name {
    float: left;
    margin-left: 12px;
    width: 45%;
}
.full-div-name {
    float: left;
    width: 100%;
}
.toolbar-background-md {
    background: #2b2b2b none repeat scroll 0 0;
}
.btn-booking-div {
    float: right;
    margin-right: 13px;
    padding-top: 0;
    text-align: center;
    width: 100%;
}
.btn-booking {
    background: #c72228 none repeat scroll 0 0;
    color: #fff;
    float: right;
    width: 100%;
}
.ion-md-menu::before {
    color: #fff;
    content: "";
}
.button-clear-ios {
    background-color: transparent;
    border-color: transparent;
    color: #488aff;
}
.button-ios.activated {
    background-color: #c72228;
    opacity: 1;
}
.toolbar-background {
    background: #2B2B2B;
}
.toolbar-title-ios {
    font-size: 1.7rem;
    font-weight: 500;
    pointer-events: auto;
       font-family: 'OpenSans-Regular';

}
.barber-status1 {
  background: #189d0e none repeat scroll 0 0;
  border-radius: 100px;
  display: inline-table;
  height: 12px;
  margin-left: 10px;
  width: 12px;
}
.barber-status0 {
  background: #d5d5d5 none repeat scroll 0 0;
  border-radius: 100px;
  display: inline-table;
  height: 12px;
  margin-left: 10px;
  width: 12px;
}

.ion-ios-arrow-back::before {
  color: #fff;
  content: "";
  padding-left: 4px;
}
.back-button-text-ios {
    color: #2b2b2b;
    letter-spacing: -0.01em;
}

 .toolbar-title-md {
  background: #2B2B2B none repeat scroll 0 0;
  color: #fff;
  font-family: "OpenSans-Regular";
  font-size: 2rem;
  font-weight: 500;
  padding: 0 0px;
}
.toolbar-title-ios {
    color: #fff;
    font-family: "OpenSans-Regular";
    font-size: 1.7rem;
    font-weight: 500;
    pointer-events: auto;
}

.ion-md-arrow-back::before {
    color: #fff;
    content: "";
}
.div-user-img {
	background: #fff none repeat scroll 0 0;
	height: 170px;
	width: 100%;
}
.full-btn{
  width: 100%;
}
.bar-button-ios[icon-only] {
    color: #fff;
    min-width: 0.9em;
    padding: 0;
}
.parent {
      background: transparent none repeat scroll 0 0;
    float: left;
    margin-left: 5%;
    margin-top: 25px;
    position: absolute;
    width: 100%;
}

.middle{
	display: table-cell; 
    vertical-align: middle;
}

//  .circle {
//     display: inline-block;
//     position: relative;
//     margin-right: 5%;
//     max-width: 100px;
//     text-align: left;
//     width: 100%;
// }
 .circle {
  display: inline-block;
  margin-right: 5%;
  max-width: 138px;
  position: relative;
  text-align: left;
  width: 100%;
}
.edit_pen {
  background: #000 none repeat scroll 0 0;
  display: inline-block;
  font-size: 1.2em;
  height: 23px;
  position: absolute;
  top: 70px;
  width: 23px;
  border-radius: 100%;
  color: #fff;
  line-height: 1.2;
  text-align: center;
  left: 75px;
}
// .img-logo {
//   border-radius: 100%;
//   display: inline-block;
//   height: 150px;
//   max-height: 100px;
//   object-fit: cover;
//   width: 150px;
// }
 .img-logo {
  display: inline-block;
  height: 154px;
  max-height: 130px;
  object-fit: cover;
  width: 170px;
}
.color_white{
	font-size:15px;
	color:#000;
	font-family:'OpenSans-Regular';
}
.edit-profile {
    background: #fff none repeat scroll 0 0;
    float: left;
    margin-top: 38px;
    width: 100%;
}
.edit-profile1 {
    background: #fff none repeat scroll 0 0;
    float: left;
    width: 100%;
}

.ion-logo-instagram::before {
    color: rgb(251, 57, 88);
    content: "";
    font-size: 20px;
    margin-right: 3px;
}
.button-clear-md {
    background-color: transparent;
    border-color: transparent;
    box-shadow: none;
 color: rgb(251, 57, 88);
    opacity: 1;
}
.button-clear-ios {
    background-color: transparent;
    border-color: transparent;
    box-shadow: none;
 color: rgb(251, 57, 88);
    opacity: 1;
}
.btn-clear {
    text-align: center;
}
.field{
  border-bottom:1px solid #b7b7b7;
  color:#000;
 font-family:'OpenSans-Bold';
 text-transform: uppercase;
  padding:10px;

}
.item-md.item-input.input-has-focus .item-inner {
  border-bottom-color: transparent!important;
  box-shadow: none !important;
}
.filed-data-save {
    color: #000;
    font-family: "OpenSans-Regular";
    padding: 0;
}
.filed-data {
    color: #000;
    font-family: "OpenSans-Regular";
    margin-bottom: 4px;
    padding: 12px 0 12px 20px;
}
 .edit-profile-bottom {
  background: #fff none repeat scroll 0 0;
  float: left;
  margin-bottom: 15px;
  width: 100%;
}
.btn-edit {
  background: #c72228 none repeat scroll 0 0;
  color: #fff;
  font-family: "OpenSans-Regular";
  margin: 0 auto 26px;
  width: 85%;
}
.item-input{
  background: #2B2B2B none repeat scroll 0 0;
  border-radius: 0;
  color: #fff;
  float: right;
  font-size: 1.7rem;
  margin-right: 20px;
  padding-bottom: 0;
  padding-left: 2px;
  padding-top: 0;
  position: relative;
  top: 25px;
  transition: background-color 200ms linear 0s;
  width: 55%;
}
 .item-input-full {
  background: #2B2B2B none repeat scroll 0 0;
  border-radius: 0;
  color: #fff;
  font-size: 1.7rem;
  margin: 0 20px 26px auto;
  padding-bottom: 0;
  padding-left: 2px;
  padding-top: 0;
  position: relative;
  width: 85%;
}

.img-slide-tag {
    padding: 0;
    margin-top: 9px
}
.item-img-slide{
  background:#fff;
}
.div-images {
    display: inline-flex;
    margin-left: 5px;
    position: relative;
    
}
.footer-img-slider {
    height: 68px;
}
.row-col-extra.row {
    margin-right: 10px;
}
.star-upper.col {
    font-size: 18px;
    color: #fac917;
}
.star-upper1.col {
      font-size: 18px;
      color: #000;
}
.grid {
    display: flex;
    flex-direction: column;
    margin-left: auto;
    margin-right: auto;
    padding: 0px;
    width: 100%;
}
// .pull-left {
//     background: #fff none repeat scroll 0 0;
//     float: left !important;
//     width: 48%;
//     margin-left: 10px;
//     text-align: center;
// }
.barber-name{
  font-size: 15px;
    padding-left: 14px;
    padding-top: 5px;
    text-transform: capitalize;
}
.pull-right {
    background: #fff none repeat scroll 0 0;
    float: right !important;
    text-align: center;
     width: 48%;
}
.user-barber-profile{
  position: relative;
}
 .card-md {
        background: #fff none repeat scroll 0 0;
        border-radius: 10px;
        box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
        font-size: 1.4rem;
        left: 8px;
        margin: 13px;
        position: absolute;
        top: 10px;
        width: 85%;
        z-index: 1;
    }
    .card-ios {
        background: #fff none repeat scroll 0 0;
        border-radius: 10px;
        box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
        font-size: 1.4rem;
        left: 8px;
        margin: 13px;
        position: absolute;
        top: 10px;
        width: 85%;
        z-index: 1;
    }
    .card-header-md {
        border-bottom: 1px solid #d5d5d5;
        color: #222;
        font-size: 1.6rem;
        padding: 8px;
        text-align: center;
    }
    .card-header-ios {
        border-bottom: 1px solid #d5d5d5;
        color: #222;
        font-size: 1.6rem;
        padding: 8px;
        text-align: center;
    }
    .textarea-data {
        border: none !important;
        resize: none;
        margin-top: 5px;
    }
    .col-div {
        flex-basis: 0;
        flex-grow: 1;
        margin: 0;
        max-width: 100%;
        min-height: 1px;
        padding: 10px;
        position: relative;
        width: 100%;
    }
    .col-div-barber{
       flex-basis: 0;
        flex-grow: 1;
        margin: 0;
        max-width: 100%;
        min-height: 1px;
        padding: 0px;
        position: relative;
        width: 100%;
    }
    .card-header-md+.card-content-md,
    .card-md .item+.card-content-md {
        padding-left: 12px;
        padding-top: 0;
    }
    .card-header-ios+.card-content-ios,
    .card-ios .item+.card-content-ios {
        padding-left: 12px;
        padding-top: 0;
    }
    .pull-right-rate{
      float: right;
    }
    .row-div {
  border-bottom: 1px solid #d5d5d5;
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  width: 100%;
}
    .star-col {
        content: "";
        font-size: 25px;
    }
    // .ion-ios-star::before {
    //     color: #fac917;
    //     content: "";
    //     font-size: 20px;
    // }
    .star-col-active {
        content: "";
        font-size: 25px;
        color: #fac917;
    }
.btn-barber {
    background-color: #c72228;
    border-color: transparent;
    box-shadow: none;
    color: #fff;
    opacity: 1;
    width: 90%;
}
 .text-review {
  color: #c72228;
  text-align: center;
  width: 32%;
}
.btn-div{
  background: #c72228;
}
}
