<!--
  Generated template for the SViewSchedulePage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
  <button ion-button menuToggle icon-only class="button-logo">
         <ion-icon name='menu'></ion-icon>
      </button>
    <ion-title>Appointments</ion-title>
  </ion-navbar>

</ion-header>


<ion-content >
<div class="calender">
    <div class="calender-header">
      <ion-icon (click)="previousMonth()" class="left-arrow" name="ios-arrow-back"></ion-icon>
        <ion-label class="calender-header-text">
          {{month[selectedMonth]}} {{selectedYear}}
        </ion-label> 
      <ion-icon (click)="nextMonth()" class="right-arrow" name="ios-arrow-forward"></ion-icon>
    </div>
    <div class="calender-sebheader">
      <ion-label *ngFor="let day of days" class="calender-subheader-text">{{day}}</ion-label> 
    </div>
    <div class="calender-content">
      <ion-label class="calender-content-text" id="{{b}}datediv" (click)="pickDate(b)" *ngFor="let b of box;let i = index ">
        <span>{{b}}</span>
      </ion-label>
    </div>
  </div>

<div class="btn-view"><button ion-button block  color="redcolor" (click)="view_Schedule()">View Schedule On {{selectDate}}</button></div>
</ion-content>
