page-forget-password {
 .forget {
        background: #222;
    }
    .toolbar-background {
        background: #2B2B2B;
    }
    .toolbar-title-md {
        background: #2b2b2b none repeat scroll 0 0;
        color: #fff;
        font-size: 2rem;
        font-weight: 500;
        font-family: 'OpenSans-Regular';
        padding: 0 0px;
    }
    .toolbar-title-ios {
        color: #fff;
        font-size: 1.7rem;
        font-weight: 500;
        pointer-events: auto;
        font-family: 'OpenSans-Regular';
        text-align: center;
    }
.toolbar-title {
    display: inline-table;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 85%;
}
.text-input-ios {
  margin: 11px 8px 11px 0;
  padding-left: 6px;
  width: calc(100% - 8px);
}
    .ion-md-arrow-back::before {
        color: #fff;
        content: "";
    }
    .back-button.show-back-button {
        color: #fff;
        display: inline-block;
    }
    .ion-ios-arrow-back::before {
  color: #fff;
  content: "";
  padding-left: 4px;
}
.back-button-text-ios {
    color: #2b2b2b;
    letter-spacing: -0.01em;
}

    .item-input {
        background-color: #2b2b2b;
 border:1px solid #acacac;
        color: #fff;
        font-size: 1.6rem;
        font-weight: normal;
        margin-top: 6%;
        padding-left: 0px;
        padding-right: 0;
        position: relative;
        text-transform: none;
        transition: background-color 300ms cubic-bezier(0.4, 0, 0.2, 1) 0s;
    }
    .item-ios {
        border-radius: 0;
        color: #fff;
        font-size: 1.7rem;
        padding-left: 0;
        position: relative;
        transition: background-color 200ms linear 0s;
    }
    .text-forget {
        color: #fff;
        margin-bottom: 10%;
        margin-top: 10%;
        text-align: center;
    }
    .item-md.item-input.input-has-focus .item-inner {
        border-bottom-color: transparent!important;
        box-shadow: none !important;
    }
    .forget-btn {
        background-color: #c72228;
        color: #fff;
        margin-top: 12%;
        width: 80%;
        margin-left: 8%;
    }
    .forget-btn-resend {
        color: #c72228;
        text-align: center;
        text-transform: capitalize;
        width: 80%;
        margin-left: 8%;
    }
}
